@import url(header.css);
@import url(banner.css);
@import url(carro.css);
@import url(TOPS.css);

:root{
    --cor-de-fundo: rgb(137, 28, 170);
    --menu-color: rgb(181, 100, 201);
}

body{
    background-color: var(--cor-de-fundo);
}